---
import Button from './Button.astro';
import Icon from './Icon.astro';

interface Props {
  title: string;
  subtitle: string;
  description: string;
  features: string[];
  buttonText: string;
  icon: 'check';
  link: string;
}

const { title, subtitle, description, features, icon, link } = Astro.props;
---

<div class="flex flex-col bg-white rounded-2xl shadow-xl border border-gray-100  dark:border-gray-600 dark:bg-gray-800 dark:text-white ">
  <div class="p-6 flex-auto">
    <h3 class="mb-4 text-3xl font-main text-secondary">{title}</h3>
    <p class="font-light text-gray-500 dark:text-gray-400 text-sm">{subtitle}</p>

    <p class="text-accent my-4 text-xs">{description}</p>
    <p class="my-4">Incluye:</p>
    <ul role="list" class="mb-8 space-y-4 text-left">
      {features.map((feature) => (
        <li class="flex items-center space-x-3 w-fit">
          <Icon name={icon} size="5" color="text-secondary" />
          <span class="text-xs w-full">{feature}</span>
        </li>
      ))}
    </ul>
  </div>
  
  <div class="flex-none p-5 flex flex-row justify-center border-t border-gray-200">
    <Button  fullWidth={true} href={link} label="Cotizar plan" variant="primary" />
  </div>
</div>

