---
import Badge from './shared/Badge.astro';
import Button from './shared/Button.astro';
import PricingCard from './shared/PricingCard.astro';

// Recibe una prop para decidir si mostrar solo el plan de especialistas
const { onlySpecialist = false } = Astro.props;

const plans = [
  {
    title: 'Plan Emprendedor',
    subtitle: 'Identidad sencilla pero sólida',
    description:
      'Perfecto para emprendedores que quieren proyectar una imagen profesional y coherente desde el primer día.',
    features: [
      'Logotipo (3 propuestas, 3 rondas de cambios).',
      'Paleta de colores.',
      'Archivos editables listos para impresión o uso digital.',
      'Optimización de perfil de Instagram.',
    ],
    buttonText: 'COTIZAR PLAN',
    link: 'mailto:nitidacrea@gmail.com?subject=Informaci%C3%B3n%20sobre%20el%20Plan%20Emprendedor&body=Hola%2C%20me%20interesa%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20Plan%20Emprendedor.%20Gracias.',
  },
  {
    title: 'Plan Especialista',
    subtitle: 'Diseño enfocado en profesionistas independeintes',
    description:
      'Pensado para médicos, terapeutas, psicólogos, nutriólogos y especialistas que necesitan una identidad visual confiable, clara y alineada a su profesión.',
    features: [
      'Todo lo del Plan Esencial.',
      '3 post para redes sociales.',
      '3 Plantillas para post de Instagram.',
      '3 íconos para historias destacadas (IG).',
      'Manual básico de marca',
      'Tarjeta de presentación digital o impresa',
      'Hoja membretada (recetas, informes, etc.)',
      '1 hoja de presentación de servicios o perfil médico.',
      'Firma de correo profesional'
    ],
    buttonText: 'COTIZAR PLAN',
    link: 'mailto:nitidacrea@gmail.com?subject=Informaci%C3%B3n%20sobre%20el%20Plan%20Especialista&body=Hola%2C%20me%20interesa%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20Plan%20Especialista.%20Gracias.',
  },
  {
    title: 'Plan Avanzado',
    subtitle: 'Marca completa y lista para despegar',
    description:
      'Para negocios que buscan una identidad visual robusta y una web profesional lista para funcionar.',
    features: [
      'Todo lo del Plan Emprendedor.',
      'Manual de marca extendido.',
      'Sitio web de hasta 5 secciones (Inicio, Nosotros, Servicios, etc.).'
    ],
    buttonText: 'COTIZAR PLAN',
    link: 'mailto:nitidacrea@gmail.com?subject=Informaci%C3%B3n%20sobre%20el%20Plan%20Avanzado&body=Hola%2C%20me%20interesa%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20Plan%20Avanzado.%20Gracias.',
  },
];

// Elegir qué planes mostrar
const filteredPlans = onlySpecialist
  ? plans.filter(p => p.title === 'Plan Especialista')
  : plans;

const isOnlyOne = filteredPlans.length === 1;

const title = isOnlyOne
  ? 'Todo lo que tu práctica necesita.'
  : 'Nuestros planes de servicios';

const subtitle = isOnlyOne
  ? 'Diseñado especialmente para especialistas que buscan una identidad visual confiable, clara y alineada a su profesión..'
  : 'Explora las opciones y elige el paquete que mejor se adapta a tu proyecto.';
---

<section class="bg-[--background-100] dark:bg-gray-900 py-8 md:py-12" id="planes">
  <div class="max-w-screen-lg mx-auto px-4">
    <div class="text-center mb-12 md:w-3/4 m-auto">
      <Badge label="Planes" color="yellow" />
      <h2 class="text-3xl md:text-5xl font-main text-gray-900 dark:text-white my-2">
        {title}
      </h2>
      <p class="text-accent dark:text-gray-400 text-lg">
       {subtitle}
      </p>
    </div>

    <div class={` ${isOnlyOne ? 'm-auto md:w-[400px] place-items-center' : ' grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3'}`} data-aos="fade-up" data-aos-delay="100">
      {filteredPlans.map((plan) => (
        <PricingCard
          title={plan.title}
          subtitle={plan.subtitle}
          description={plan.description}
          subtext={plan.subtext}
          features={plan.features}
          buttonText={plan.buttonText}
          link={plan.link}
        />
      ))}
    </div>
  </div>
</section>
